<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shop_MyShop>
            <version>1.0.0</version>
        </Shop_MyShop>
    </modules>
    <frontend>
        <routers>
            <myshop>
                <use>standard</use>
                <args>
                    <module>Shop_MyShop</module>
                    <frontName>myshop</frontName>
                </args>
            </myshop>
        </routers>
        <layout>
            <updates>
                <myshop>
                    <file>shopfront.xml</file>
                </myshop>
            </updates>
        </layout>
    </frontend>
</config>